* {
    padding: 0;
    margin: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

/* display: flex;
    justify-content: center;
    align-items: center;
    讓子部置中3件套
    */

.mainBox {
    background-color: #fff8f2;
    width: 950px;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBox {
    width: 380px;
    height: 1200px;
    background-color: #942637;
    margin-left: 0;
}

.rightBox {
    width: 570px;
    padding-top: 65px;
    padding-left: 50px;
}

.leftTopBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #fff8f2 50%, #942637 50%);
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid rgb(162, 25, 203);


    margin-top: 56.7px;
    margin-bottom: 50px;

    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmFUEOgrAFHTgCKED1AJjd4pxl-kNTLqvnBQ&s');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.name {
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: -30px;

}

.leftBottonBox {
    color: white;
    padding-left: 50px;
    padding-top: 130px;
}

.leftBottonBox>hr {
    width: 60px;
    height: 2px;
    background-color: white;
    margin: 15px 0;
    border: none;
}

.rightBox>hr {
    width: 90%;
    height: 2px;
    background-color: #e1cbcd;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;

}

.leftBottonBox>ol {
    padding-left: 15px;
}

.leftUi {
    margin: 15px 0;
}

.leftUi>li {
    /* 上右下左 */
    margin: 5px 0px 5px 10px;
    list-style-type: disc;
    /* 不知道為何不是被預設實心 */
}

.manufacturingGap {
    margin-top: 80px;
}

p {
    font-size: 1.5rem;
    font-weight: bold;
}


.rightP {
    color: #942637;

}

h3 {
    margin: 20px 0;
    padding-left: 5px;
    border-left: 2px solid black;
}

.otherOl>li {
    margin: 12px 0;
    margin-left: 12px;
}

.rightBox>ul {

    margin-left: 12px;
}

a {
    color: black;
    text-decoration: none;
}




@media (max-width: 768px) {
    .mainBox {
        flex-direction: column;
        height: 2400px;
    }

    .name {
        font-size: 55px;
        padding-top: 60px;
    }

    .leftTopBox {
        display: none;
    }

    .circle {
        display: none;
    }
}

/* 12/3新增 */
.mailTo {
    color: white;
}